<html>

<head>
    <link rel="stylesheet" href="style.css">
    <title>Chat App</title>
</head>

<body ng-app="chatApp">
    <div class='main' ng-controller="chatController">
        <div class='home1'>
            <p class='font1'>Welcome to Chat Application</p>
            <span class='user'>{{userName}}</span>
            <a href="#!/login" class='logout' ng-click="logout()">Logout</a>
        </div>
        <div class='space'></div>

        <div class='home2'>
            <p>User List</p>
            <ul>
                <li>
                    <p ng-repeat="x in allUser" ng-click="person(x)" ng-show="userName!=x.name">
                        {{x.name}}</p>
                </li>
            </ul>

        </div>

        <div class='home3'>
            <p>Chat</p>
            <p>{{recieverUserName}}</p>
            <li class='msg'>
                <p ng-repeat="x in allUserMsg" ng-click="person(x)">
                    {{x.message}}</p>
            </li>


        </div>

        <input type="text" class='InputText' ng-model="message" placeholder="type here.....">


        <button type="button" class='send' ng-click="sendmessage()">Send</button>

    </div>
</body>

</html>