<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="chatApp">
    <div class="container" ng-controller="resetPassController">
        <form form name="forgotPassword" novalidate>
                <h2 > <u> Reset Password </u></h2>
            <div>
                <br>
                <label for="password">New Password</label><br />
                <input type="password" id="password" ng-model="password" placeholder="Enter new password " required><br><br>

                <!-- <label for="password">Confirm Password</label><br />
                <input type="password" id="password1" ng-model="password1" placeholder="Re-enter new password " required><br><br> -->

                <button type="button" ng-click="resetPassword()" ng-href="#!/login.html">Reset</button><br>
                <br>       
            </div>
    </div>

</body>

</html>