input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
  }
  .button1 {
    text-align: center;
    background-color:green;
    border-radius: 12px;
    color:white;
    padding: 10px 20px;
    margin: 8px 0;
    border:solid;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    font-size:large
}
h2 {
    text-align: center;
    font-size: 200%;
}
.container {
    border-radius: 10px;
    background-color: #6db0cf;
    padding-left:7em;
    padding-right:7em;
    margin-left: 25em;
    margin-right: 25em;
    box-align:center;
    
}
a{
    color:navy
}

  label{
      text-align: left
      
  }
  p{
      font-size:20px
  }
  .element1{
      margin-left:111px
  }
  .element2{
    margin-left: 222px;
  }
  .element3{
    margin-left: 229px;

  }

  /* ******************************************************* */
  
  .body1{
    margin: auto;
    
  }
  .home1{
    
    font-size: 20px;
    background-color:rgb(12, 149, 240);
    color:black;
    padding-top: 1px;
    padding-bottom: 9px;
    /* margin-left: 1em;
    margin-right: 1em; */
    text-align: center;
  }
  .logout{
    color: blue;
    float: right;
    margin: -21px;
    margin-right: 45px;
  }
  .font1{
    font-size: 40px;
    font-weight: bold;
  }
  .main{
    border-style: groove;
    padding-top: 1px;
    padding-bottom: 515px;
    width: 936px;

  }
  .home2{
    position: absolute;
    border-style: inherit;
    font-weight: bold;
    width:300px;
    height: 454px;
    
    float:left;
  }
  .space{
    border-style: inherit;
    padding-bottom: 22px;
    background-color:gray;
  }
  .home3{
    border-style: inherit;
    text-align: center;
    font-weight: bold;
    width: 581px;
    position: absolute;
    height: 300px;
    float: right;
    margin-left: 352px;
    padding-bottom: 114px;
  }
  .InputText {
    border-style: inherit;
    position: absolute;
    margin: 417px;
    margin-left: 353px;
    padding-bottom: 11px;
    padding-left: 40px;
    margin-bottom: -86px;
    width: 508px;
}
  .send{
    border-style: inherit;
    background-color: rgb(12, 149, 240);
    position: absolute;
    margin: 246px;
    margin-left: 858px;
    margin-top: 417px;
    padding-bottom: 13px;
    vertical-align: middle;
    font-size: 20px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    padding-left: 33px;
  }

  .msg{
    margin-left: 327px;
  }