<html>

<head>
    <link rel="stylesheet" href="mailValids.css">
    <title>Validate Email</title>
</head>

<body>
    <header>
        <h2>Reset your Password</h2>
    </header>
    <div>
        <p>Enter your email address and we will send you a link to reset your password.</p>
        <input type="email" class="textbox" size="30%" placeholder="Enter your email Address" name="Email"><br><br>
        <button class="button">send password reset email</button>
       <a href="login.html"> Login</a>
    </div><br><br><br>
    <a href="">Terms</a>&nbsp &nbsp &nbsp
    <a href="">Privacy</a>&nbsp &nbsp &nbsp
    <a href="">Security</a>
   
</body>

</html>