<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div ng-app="chatApp" ng-controller="loginController">
        <div ng-view></div>
        <form action="/" id="myLogin">
            <h2> <u> Login </u> </h2>

            email:<input type="text" id="email" ng-model="email"><br><br>
            password:<input type="password" id="password" ng-model="password"><br><br>

            <button type="button" ng-click="submit()">Login</button><br>

            <p><a ng-href="#!registration.html" ng-click="go()">Register</a> &nbsp&nbsp&nbsp
            <span><a ng-href="#!forgotPassword.html" ng-click="go2()">Forgot Password</a></p></span>

        </form>
    </div>
</body>

</html>