<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title> Login </title>
    </head>
    <body>
        <form>
            
                <h2> <u> Login </u> </h2>
                <div>
                <label>Username:</label>
                <input type="text" Username=" "><br><br>
                <label>Password:</label>
                <input type="password" Password><br><br>
                <input type="submit" value= "Login"><br><br>
                <a href="registration.html">Register</a> &nbsp  &nbsp &nbsp &nbsp 
                <a href="mailValid.html">Forgot Password</a> 
            </div>
        </form>
    </body>
</html>