body {
    background-color:darkcyan;
    text-align: center;
}
h2 {
    color:black;
    font-family: verdana;
    font-size: 200%;
  }
div{
    border-radius:10px;
    font-size: 20px;
    border-style: ridge;
    margin-left: 25em;
    margin-right: 25em;
     padding-bottom:2.5em 
    /*width:200px;*/
    /*height:150px*/
 }
 .button {
    background-color: blue; 
    border-radius: 12px;
    border: ridge;
    color: white;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
   .textbox {
    padding:7px;
    text-align: center;
    }
  P{
    font-size: 20px;
  }