<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="style.css">
</head>

<body ng-app="chatApp">
    <div class="container" ng-controller="loginController">
        <form form name="forgotPassword" novalidate>
                <h2 > <u> Reset Password </u></h2>
            <div>
                <br>
                <label for="password">New Password</label><br />
                <input type="password" id="password" ng-model="password" placeholder="Enter new password " required><br><br>

                <label for="password">Confirm Password</label><br />
                <input type="password" id="password" ng-model="password" placeholder="Re-enter new password " required><br><br>

                <button type="button" ng-click="submit()" ng-href="#!/login.html" ng-click="go()">Reset</button><br>
                <br>       
            </div>
    </div>

</body>

</html>