

<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title> Reset Password </title>
    </head>
    <body>
        <div class="div1">
            <label>New Password</label>
            <input type="password" placeholder="Enter new password" name="password"><br><br>
            <label>Confirm Password</label>
            <input type="password" placeholder="Re-enter new password" name="password"><br><br>
            <input type="submit" class="button" onclick="location.href='file:///home/admin1/chatApp/frontEnd/templates/login.html';" value= "Reset" >
        </div>
    </body>
</html>